<div>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class=" navbar-item title is-3">Angular Learning</a>
        </div>
        <div class="navbar-start">
            <ng-container *ngFor="let item of menu">
                <a class="navbar-item" *ngIf="!item.children" [routerLinkActiveOptions]="{exact:true}"
                    routerLinkActive="is-active" [routerLink]="item.link">{{ item.label }} </a>
                <div *ngIf="item.children" routerLinkActive="parent-active" class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">{{ item.label }}</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" *ngFor="let childItem of item.children" routerLinkActive="is-active"
                            [routerLink]="childItem.link"> {{ childItem.label }} </a>
                    </div>
                </div>

            </ng-container>
        </div>

    </nav>
</div>