<h2 class="title is-4">New Product</h2>
<hr>
<div class="hr-form">
  <form [formGroup]="form">
    <div class="columns">
      <div class="column">
        <label for="">Product Name</label>
        <input type="text" formControlName="name">
        <app-field-error [control]="form.get('name')"></app-field-error>
      </div>
      <div class="column">
        <label for="">Category</label>
        <p-dropdown placeholder="Select Category" showClear="true" filter="true" [options]="category" formControlName="category"></p-dropdown>
        <!-- <select formControlName="category">
          <option></option>
          <option>Cat 1</option>
          <option>Cat 2</option>
        </select> -->
        <app-field-error [control]="form.get('category')"></app-field-error>
      </div>
      <div class="column">
        <label for="">Description</label>
        <textarea rows="3" cols="50" formControlName="description"></textarea>
      </div>
      <div class="column">
        <label for="">Published</label>
        <p-checkbox [binary]="true" [formControl]="form.get('published')"></p-checkbox>
        <!-- <input type="checkbox" formControlName="published"> -->
      </div>

    </div>

    <div class="columns" formGroupName="address">
      <div class="column">
        <label for="">Line 1</label>
        <input type="text" formControlName="line1">
        <app-field-error [control]="form.get('address').get('line1')"></app-field-error>
        <!-- {{form.get('address').get('line1')?.errors | json}} -->
      </div>
      <div class="column">
        <label for="">Line 2</label>
        <input type="text" formControlName="line2">
        <app-field-error [control]="form.get('address').get('line2')"></app-field-error>
      </div>
    </div>
    <div class="columns" formArrayName="experience">
      <div class="column">
        <h4 class="title is-5">Experience</h4>
       <table class="table is-bordered">
         <thead>
           <tr>
             <th>Company</th>
             <th>Title</th>
             <th>From</th>
             <th>To</th>
             <th>#</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let exp of experience.controls;let index=index" [formGroupName]="index">
             <td>
               <input type="text" formControlName="companyName">
               <app-field-error [control]="exp.get('companyName')"></app-field-error>
            </td>
             <td><input type="text" formControlName="jobTitle">
            
            </td>
             <td><input type="text" formControlName="from"></td>
             <td><input type="text" formControlName="to"></td>
             <td><button (click)="deleteExp(index)">x</button></td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>




    <div>

      <button class="button is-primary" [disabled]="form.invalid" (click)="save()">Save</button>
      <button class="button is-secondary" (click)="addExperience()">Add</button>
    </div>

  </form>

  <pre>

    Valid : {{ form.valid }}
    {{form.value | json}}
    </pre>

</div>