<div>
    <h4>Property Binding Example</h4>
    <div>
        <div [id]="myId" [class]="msgClass">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis impedit facere eum soluta nulla nihil
            inventore dolor deserunt, optio dolore porro id molestias ducimus, aut ad laborum! Reiciendis, tenetur hic.
        </div>

        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
        <input type="text" [value]="myValue" [disabled]="lock"  [class]="lock?'input-disable':'input-enable'">
    </div>
</div>