<h2 class="title is-4">Category Manager</h2>
<hr>
<div>
  <form #categoryForm="ngForm">
    <div class="columns is-multiline hr-form">
        <div class="column is-12">
            <label for="">Parent Category</label>
            <select name="parentCategory"ngModel>
              <option value="">Select</option>
              <option *ngFor="let cat of catSelect" [value]="cat._id"> {{cat.label}}</option>
            </select>
          </div>
      <div class="column is-12">
        <label for="">Category Name</label>
        <input name="categoryName" type="text"  required minlength="4" [(ngModel)]="category"
          placeholder="New Category" #catModel="ngModel">
        <app-field-error [control]="catModel"></app-field-error>
      </div>
      <div class="column is-12">
        <label for="">Slug</label>
        <input name="slug" type="text" pattern="[-_a-z0-9]+" required minlength="4" [ngModel] placeholder="Category Slug"
          #slugModel="ngModel">
        <app-field-error [control]="slugModel" [messages]="{pattern:'Only small letters are allowed'}"></app-field-error>
      </div>
      <div class="column is-12">

        <!-- NO binding (Plain ngModel) -->
        <label for="">Description</label>
        <textarea required maxlength="100" name="description" ngModel rows="3" cols="50"></textarea>
        {{categoryForm.value.description?.length}}/100
        <app-field-error [control]="categoryForm?.controls['description']"></app-field-error>
      </div>
    </div>



    
    <div>

      <button class="button is-primary" (click)="save(categoryForm)">Save</button>
    </div>

  </form>

  <!-- <pre>

     Category: {{category}}
     Group: {{group}}
        {{categoryForm?.controls['cat_name']?.errors | json}}
   
   Form Value:

   {{categoryForm.value | json}}
      </pre>

  Invalid: {{ categoryForm.invalid }}

  {{categoryForm.status}} -->
</div>


<p-table [value]="categories" [paginator]="true" [rows]="50">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent</th>
        <th>Slug</th>
        <th>Description</th>
        <th>Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product._id|trim:5 }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.parentCategory }}</td>
        <td>{{ product.slug }}</td>
        <td [title]="product.description">{{ product.description|trim:25:'...' }}</td>
        <td>{{ product.active|yesno }}</td>
      </tr>
    </ng-template>
  </p-table>

