<h2 class="title is-4">Products ({{products?.length}})</h2>
<hr>
<p-table [value]="products" [paginator]="true" [rows]="50">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>#</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product._id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td><a routerLink="/admin/product/edit/{{product._id}}">Edit</a></td>
    </tr>
  </ng-template>
</p-table>