<app-header></app-header>

<div class="container" style="min-height: 500px;margin-bottom: 1rem">
    <div style="margin-top:1rem ">
<!-- <app-interpolation></app-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-events></app-events> -->
<!-- <app-condition></app-condition> -->
    <!-- <app-loop></app-loop> -->
    <!-- <app-css-classes></app-css-classes> -->
    <app-product-listing></app-product-listing>
    </div>

</div>

<footer class="footer">
    <app-footer></app-footer>

</footer>



<!-- <example></example> -->