/* You can add global styles to this file, and also import other style files */
@import '~bulma/css/bulma.min.css';

#msg,.notification {
    border:1px solid;
    display: inline-block;
    padding: .5rem;
    margin: 1rem;

}

.success {
    color:green;
}

.error {
    color:red;
}

.input-disable {
    padding: 5px;
    border:none;
}

.input-enable {
    padding:5px;
    border:1px solid blue;
}

.parent-active {
    background-color: #00b89c;
    color: #fff;
}